<app-spinning [spinnerBollean]="onSpinnerBollean"></app-spinning>
<div class="container my-4">
    <form>
        <div class="mb-3">
            <label class="form-label">Produto</label>
            <input type="text" class="form-control" placeholder="Digite o nome do produto aqui" name="Produto"
                [(ngModel)]="obj.product" (ngModelChange)="dispareFunction()" />
        </div>
        <div class="mb-3">
            <label class="form-label">Valor do produto</label>
            <input type="text" class="form-control" placeholder="Digite o valor do produto aqui" name="Valor"
                [(ngModel)]="obj.value" (ngModelChange)="dispareFunction()" />
        </div>
        <div class="mb-3">
            <label class="form-label">Descrição do produto</label>
            <textarea class="form-control" rows="3" [(ngModel)]="obj.description" name="Description"
                (ngModelChange)="dispareFunction()"></textarea>
        </div>
        <div class="mb-3">
            <button (click)="editForm()" [disabled]="buttonDisabled" class="btn btn-primary mx-2">Editar dados</button>
            <button (click)="exitForm()" class="btn btn-danger">Voltar</button>
        </div>
    </form>
</div>